body {
    font-family: sans-serif;
    color: rgb(71, 70, 70);
    font-size: 1rem;
    max-width: 400px;
    /* color: gray; */
}

#main-doc {
    margin-left: 310px;
    position: absolute;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar {
    width: 300px;
    height: 100%;
    border-right: solid;
    top: 0px;
    left: 0px;
    position: fixed;
}

header {
    color: black;
    font-size: 30px;
}

#navbar > ul > li {
    padding: 15px;
    border-top: 1px solid black;
    list-style: none;
    /* position: absolute; */
    font-size: 17px;
    /* color: gray; */
}

#navbar > ul {
    padding: 0;
    overflow-y: scroll;
    height: 90%;
}

#navbar > header {
    text-align: center;
    margin: 15px;
}

p {
    line-height: 1.5rem;
    margin-left: 10px;
}

div > ul > li {
    margin: 15px;
    line-height: 1.5rem;
}

li::marker {
    color: rgb(71, 66, 66);
    font-size: 16px;
}

code {
    display: block;
    background-color: #f1f1f1;
    padding: 10px;
    color: rgb(71, 70, 70);
    margin-left: 20px;
    font-size: 0.80rem;
    border-radius: 5px;
    white-space: pre-line;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.nested_li > li {
    margin: 20px;
}

#navbar  a {
    color: gray;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}