body {
    font-family: sans-serif;
    /* color: #4d4e53; */
    color: gray;
    font-size: .90rem;
}

#main-doc {
    margin-left: 310px;
    position: absolute;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar {
    width: 300px;
    height: 100%;
    border-right: solid;
    top: 0;
    left: 0; 
    position: absolute;
}

header {
    color: black;
    font-size: 30px;
}

#navbar > ul > li {
    padding: 15px;
    border-top: 1px solid black;
    list-style: none;
    position: relative;
    font-size: 1rem;
}

#navbar > ul {
    padding: 0;
}

#navbar > header {
    text-align: center;
    margin: 15px;
    font-weight: normal;
}

p {
    margin: 20px;
    line-height: 1.5rem;
}

#list-items > ul > li {
    margin: 30px;
    line-height: 1.5rem;
}

li::marker {
    color: rgb(71, 66, 66);
    font-size: 16px;
}